langchain
langchain-core
langchain-chroma
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-google-genai
langchain-groq
langchain-mongodb 
pymongo
pillow
pypdf>=4.0.0
python-dotenv
sentence-transformers
chromadb
streamlit
streamlit-local-storage
supabase
flashrank
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
